.SchoolForm {
  text-align: center;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
  background-color: white;
  margin: 25px auto;

  h1, h3 {
    font-family: 'Zhi Mang Xing', cursive;
  }

  h4, h5, h6 {
    font-weight: normal;
  }

  .vdp-datepicker, .vue-tags-input {
    input {
      border: none;
    }
  }

  .vue-tags-input {
    max-width: initial !important;
    padding: 0;

    .ti-input {
      border: none;
    }
  }

  .errors-container {
    ul {
      list-style-type: none;
      padding: 0;

      li {
        span {
          color: red;
        }
      }
    }
  }
}
